<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" metadata-complete="false" version="3.0">
  <display-name>EA102G3final</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <resource-ref>
    <description>DB Connection</description>
    <res-ref-name>jdbc/EA102G3</res-ref-name>
    <res-type>javax.sql.DataSource</res-type>
    <res-auth>Container</res-auth>
  </resource-ref>
  <servlet>
    <servlet-name>MemServlet</servlet-name>
    <servlet-class>com.mem.controller.MemServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MemServlet</servlet-name>
    <url-pattern>/front-end/mem.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>DayoffServlet</servlet-name>
    <servlet-class>com.dayoff.controller.DayoffServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DayoffServlet</servlet-name>
    <url-pattern>/front-end/dayoff.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CoachServlet</servlet-name>
    <servlet-class>com.coach.controller.CoachServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CoachServlet</servlet-name>
    <url-pattern>/front-end/coach.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ReadPictures</servlet-name>
    <servlet-class>com.tools.ReadPictures</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ReadPictures</servlet-name>
    <url-pattern>/front-end/ReadPictures</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowPhotos</servlet-name>
    <servlet-class>com.tools.ShowPhotos</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPhotos</servlet-name>
    <url-pattern>/front-end/ShowPhotos</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>loginFilter</filter-name>
    <filter-class>com.tools.LoginFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>loginFilter</filter-name>
    <url-pattern>/front-end/memberPage.jsp</url-pattern>
    <url-pattern>/front-end/updateMember.jsp</url-pattern>
    <url-pattern>/front-end/coachPage.jsp</url-pattern>
    <url-pattern>/front-end/updateCoach.jsp</url-pattern>
    <url-pattern>/front-end/Jessica/member/*</url-pattern>
    <url-pattern>/front-end/Jessica/coach/*</url-pattern>
    <url-pattern>/front-end/article/addArticle.jsp</url-pattern>
    <url-pattern>/front-end/haoren/checkout.jsp</url-pattern>
    <url-pattern>/front-end/haoren/orderPage.jsp</url-pattern>
    <url-pattern>/front-end/haoren/profavPage.jsp</url-pattern>
    <url-pattern>/front-end/guochi/testCal2.jsp</url-pattern>
    <url-pattern>/front-end/kevin/stream/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>coachFilter</filter-name>
    <filter-class>com.tools.CoachFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>coachFilter</filter-name>
    <url-pattern>/front-end/coachPage.jsp</url-pattern>
    <url-pattern>/front-end/updateCoach.jsp</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <filter>
    <filter-name>empFilter</filter-name>
    <filter-class>com.emp.filter.empFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>empFilter</filter-name>
    <url-pattern>/back-end/kevin/index/index.jsp</url-pattern>
    <url-pattern>/back-end/kevin/news/*</url-pattern>
    <dispatcher>REQUEST</dispatcher>
    <dispatcher>FORWARD</dispatcher>
    <dispatcher>INCLUDE</dispatcher>
    <dispatcher>ERROR</dispatcher>
    <dispatcher>ASYNC</dispatcher>
  </filter-mapping>
  <servlet>
    <servlet-name>GpcServlet</servlet-name>
    <servlet-class>com.gpc.controller.GpcServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GpcServlet</servlet-name>
    <url-pattern>/back-end/KaiPing/gpc/gpc.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GpcServlet</servlet-name>
    <url-pattern>/front-end/KaiPing/gpc/gpc.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Gpc_Disc_Ctrl</servlet-name>
    <servlet-class>com.gpc_Disc.controller.Gpc_Disc_Ctrl</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Gpc_Disc_Ctrl</servlet-name>
    <url-pattern>/back-end/KaiPing/gpc/gpc_Disc.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>Gpc_Disc_Ctrl</servlet-name>
    <url-pattern>/front-end/KaiPing/gpc/gpc_Disc.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShowPic</servlet-name>
    <servlet-class>com.gpc.tools.ShowPic</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowPic</servlet-name>
    <url-pattern>/back-end/KaiPing/gpc/ShowPic.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>ShowPic</servlet-name>
    <url-pattern>/front-end/KaiPing/gpc/ShowPic.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>StreamServlet</servlet-name>
    <servlet-class>com.stream.controller.StreamServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>StreamServlet</servlet-name>
    <url-pattern>/front-end/kevin/stream/stream.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NewsServlet</servlet-name>
    <servlet-class>com.news.controller.NewsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewsServlet</servlet-name>
    <url-pattern>/front-end/kevin/news/news.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>EmployeeServlet</servlet-name>
    <servlet-class>com.employee.controller.EmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeServlet</servlet-name>
    <url-pattern>/front-end/kevin/emp/emp.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>AuthorityServlet</servlet-name>
    <servlet-class>com.authority.controller.AuthorityServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AuthorityServlet</servlet-name>
    <url-pattern>/front-end/kevin/authority/authority.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dietServlet</servlet-name>
    <servlet-class>com.diet.controller.dietServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dietServlet</servlet-name>
    <url-pattern>/aaa/diet.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>dietConServlet</servlet-name>
    <servlet-class>com.dietCon.controller.dietConServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>dietConServlet</servlet-name>
    <url-pattern>/dietCon/dietCon.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>trainingLogServlet</servlet-name>
    <servlet-class>com.trainingLog.controller.trainingLogServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>trainingLogServlet</servlet-name>
    <url-pattern>/trainingLog/trainingLog.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProImg</servlet-name>
    <servlet-class>com.pro.controller.ProImg</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProImg</servlet-name>
    <url-pattern>/ProImg</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProductServlet</servlet-name>
    <servlet-class>com.pro.controller.ProductServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProductServlet</servlet-name>
    <url-pattern>/product/product.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>OrderServlet</servlet-name>
    <servlet-class>com.pro.order.controller.OrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/order.do</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>OrderServlet</servlet-name>
    <url-pattern>/front-end/order.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CategoryServlet</servlet-name>
    <servlet-class>com.product_category.controller.CategoryServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CategoryServlet</servlet-name>
    <url-pattern>/product_category/category.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ShoppingServlet</servlet-name>
    <servlet-class>com.pro.cart.controller.ShoppingServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShoppingServlet</servlet-name>
    <url-pattern>/front-end/haoren/Shopping.html</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ProFavServlet</servlet-name>
    <servlet-class>com.profav.controller.FavoriteServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ProFavServlet</servlet-name>
    <url-pattern>/product_favorite/favorite.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseServlet</servlet-name>
    <servlet-class>com.course.controller.CourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseServlet</servlet-name>
    <url-pattern>/course/course.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseFavorServlet</servlet-name>
    <servlet-class>com.course_favor.controller.CourseFavorServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseFavorServlet</servlet-name>
    <url-pattern>/course/courseFavor.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseCartServlet</servlet-name>
    <servlet-class>com.course_cart.controller.CourseCartServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseCartServlet</servlet-name>
    <url-pattern>/course/courseCart.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseOrderServlet</servlet-name>
    <servlet-class>com.course_order.controller.CourseOrderServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseOrderServlet</servlet-name>
    <url-pattern>/course/courseOrder.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CouponServlet</servlet-name>
    <servlet-class>com.coupon.controller.CouponServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CouponServlet</servlet-name>
    <url-pattern>/coupon.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ImgUtils</servlet-name>
    <servlet-class>com.jessica.utils.ImgUtils</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ImgUtils</servlet-name>
    <url-pattern>/jessica/img.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>CourseDateServlet</servlet-name>
    <servlet-class>com.course_date.controller.CourseDateServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CourseDateServlet</servlet-name>
    <url-pattern>/course/courseDate.do</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ArtServlet</servlet-name>
    <servlet-class>com.articlemajor.controller.ArtServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtServlet</servlet-name>
    <url-pattern>/ArtServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ArtRepServlet</servlet-name>
    <servlet-class>com.report.controller.ReportServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtRepServlet</servlet-name>
    <url-pattern>/ArtRepServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ArtMesServlet</servlet-name>
    <servlet-class>com.ArtMes.controller.ArtMesServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtMesServlet</servlet-name>
    <url-pattern>/ArtMesServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>ArtILoveServlet</servlet-name>
    <servlet-class>com.artilove.controller.ArtILoveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ArtILoveServlet</servlet-name>
    <url-pattern>/ArtILoveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>NameServlet</servlet-name>
    <servlet-class>com.websocketchat.controller.NameServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NameServlet</servlet-name>
    <url-pattern>/chat.do</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>404</error-code>
    <location>/front-end/kevin/index.jsp</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/front-end/kevin/index.jsp</location>
  </error-page>
</web-app>